<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete profile</h1>
    <form action="/edit" method="post">
    <input type="hidden" name="user_id" value="<%=user._id%>"/>
    <br>
    <input type="password" class="form-control" placeholder="Enter your old password">
    <input type="password"  name="newpassword" placeholder="New password">
    <input type="password"  name="confirmpassword" placeholder="confirm password">
<hr>
<input type="submit" value="change">
</form>
</body>
</html>