<!doctype html>
<html class="no-js" lang="zxx">
<%- include("./parts/head.ejs")%>
<body>
    <!-- partial:index.partial.html -->
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/forgetPassword" method="post">
            <img src="img/logo (2).png" alt="">
                <h2>Forgot Password??</h2>
                <p style="color:#023859">Enter your registered email ID to reset the password</p>
                <input type="email" name="email" placeholder="Email" required />
                <% if(typeof message !== "undefined"){ %>
                    <p style="font-weight: bold; color: #023859;"><%=message %></p>
                    <% } %>
                <br>
                <input type="submit" style="background-color:#023859; color: white;" value="Rest Password">
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
        <script  src="js/script.js"></script>
    
    </body>  
    </html>