<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/style.css">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
        <!-- <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->
        </head>
<body className='snippet-body'>
    <header>
                                    <div class="header-area ">
                                        <div id="sticky-header" class="main-header-area">
                                            <div class="container-fluid p-0">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col-xl-2 col-lg-2">
                                                        <div class="logo-img">
                                                            <a href="">
                                                                <img src="img/logo (2).png" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-5 col-lg-6">
                                                        <div class="main-menu  d-none d-lg-block">
                                                            <nav>
                                                                <ul id="navigation">
                                                                    <li><a href="/HomeAfterlogin">Home</a></li>
                                                                    <li><a href="#">Services <i class="ti-angle-down"></i></a>
                                                                    <ul class="submenu">
                                                                        <li><a href="/hotel">Hotels</a></li>
                                                                        <li><a href="/cinema">Cinemas</a></li>
                                                                        <li><a href="/bazaar">Bazaars</a></li>
                                                                        <li><a href="/resort&village">Resorts & Villages</a></li>
                                                                        <li><a href="/naturalPreserve">Natural Preserves</a></li>
                                                                        <li><a href="/tourismCompany">Tourism Companies</a></li>
                                                                        <li><a href="/archaeologicalSite">Archaeological Sites</a></li>
                                                                        <li><a href="/restaurant&cafe">Restaurants & Cafes</a></li>
                                                                        <li><a href="/transportationCompany">Transportation Companies</a></li>
                                                                    </ul>
                                                                    <li><a href="">Search</a></li>
                                                                    <li><a href="/clientProfile">Your Profile</a></li>
                                                                    <li><a href="/setting">Settings</a></li>
                                                                    
                                                                </ul>
                                                            </nav>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                                                        <div class="book_room">
                                                            <div class="book_btn d-none d-lg-block">
                                                                <a class="popup-with-form" href="#log-out-form">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-12">
                                                        <div class="mobile_menu d-block d-lg-none"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    </header>
    <!-- header-end -->
                                
<button type="button" class="btn btn-primary launch" data-toggle="modal" data-target="#staticBackdrop"> <i class="fa fa-info"></i> Get information</button>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                
                <div class="px-4 py-5">
                <h4 class="mt-5 theme-color mb-5">Thanks for your order</h4>

                <span class="theme-color">Payment Summary</span>
                <div class="mb-3">
                    <hr class="new1">
                </div>

                <div class="d-flex justify-content-between">
                    <span class="font-weight-bold">
                        <%=data.service%> 
                    </span>
                    
                </div>

                <div class="d-flex justify-content-between">
                    <small>price</small>
                    <small><%=data.price%></small>
                    
                </div>

                <div class="d-flex justify-content-between">
                    <small>Amount</small>
                    <small><%= data.qauntity%></small>
                </div>
                
                <div class="d-flex justify-content-between mt-3">
                    <span class="font-weight-bold">Total Price</span>
                    <span class="font-weight-bold theme-color"><%= data.qauntity * data.price%></span>
                </div>  
                <div class="text-center mt-5">
                    <a href="/pay" class="btn btn-primary">Payment Way</a>
                    


                </div>                   

                </div>


            </div>
        </div>
    </div>
</div>
	
<style>::-webkit-scrollbar {
                                width: 8px;
                                }
                                /* Track */
                                ::-webkit-scrollbar-track {
                                background: #023859; 
                                }
                                
                                /* Handle */
                                ::-webkit-scrollbar-thumb {
                                background: #888; 
                                }
                                
                                /* Handle on hover */
                                ::-webkit-scrollbar-thumb:hover {
                                background: #555; 
                                } body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.modal-body {
    background-color: #fff;
    border-color: #fff;

}


.close {
    color: #023859;
    cursor: pointer;
}

.close:hover {
    color: #daa520;
}


.theme-color{

    color: #daa520;
}
hr.new1 {
    border-top: 2px dashed #fff;
    margin: 0.4rem 0;
}


.btn-primary {
    color: #daa520;
    background-color: #023859;
    border-color: #023859;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #daa520;
    border-color: #daa520;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}</style>


                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript'src='#'></script>
                                <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
                                myLink.addEventListener('click', function(e) {
                                    e.preventDefault();
                                });</script>
                                </body>
                            </html>