<!doctype html>
<html class="no-js" lang="zxx">
<%- include("./parts/head.ejs")%>
<body>
	<!-- partial:index.partial.html -->
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form action="" method="post">
			<img src="img/logo (2).png" alt="">
				<h2>Change Password</h2>
				<input type="password" name="new_password" placeholder="New Password" required />
				<input type="password" name="passwordConfirm" placeholder="Confirm Password"  />
				<input type="hidden" name="user_id" value="<%= user_id%>">
				<input type="submit" style="background-color:#023859; color: white;" value="submit">
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->
	<script  src="js/script.js"></script>
	
</body>  
</html>
