/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.Post_area .container{
  width: 530px;
  height: 550px;
  overflow: hidden;
  background: #f1f1e6;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 20px 40px #daa520;
  margin-top:100px;
}
.Post_area .container.active{
  height: 590px;
}
.Post_area .container .wrapper{
  width: 1000px;
  display: flex;
}
.Post_area .container .wrapper section{
  width: 500px;
  background: #f1f1e6;
}
.Post_area .container img{
  cursor: pointer;
}
.Post_area .container .post{
  transition: margin-left 0.18s ease;
}
.Post_area .container.active .post{
  margin-left: -500px;
}
.Post_area .post header{
  font-size: 32px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #023859;
  color: #023859;
}
.Post_area .post form{
  margin: 25px 25px;
}
.Post_area .post form textarea{
	border-radius:10px;
}
.Post_area .post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.Post_area .post form .content img{
  cursor: default;
  max-width: 52px;
}
.Post_area .post form .content .details{
  margin: -3px 0 0 12px;
}
.Post_area form .content .details p{
  font-size: 24px;
  font-weight: 500;
}
.Post_area .content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.Post_area .details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.Post_area .details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}
.Post_area form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
.Post_area form textarea{
  resize: none;
  font-size: 22px;
  margin-top: 10px;
  min-height: 100px;
  color:#023859;
  
}
.Post_area form textarea::placeholder{
  color: #023859;
  font-size: 22px;
}
.Post_area form textarea:focus::placeholder{
  color: #023859;
  font-size: 22px;
}
.Post_area form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Post_area .theme-emoji img:last-child{
  max-width: 24px;
}
.Post_area form .options{
  height: 57px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Post_area form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
.Post_area form .options p{
  color: #023859;
  font-size: 20px;
  font-weight: 500;
  cursor: default;
}
.Post_area form .options .list{
  list-style: none;
}
.Post_area .options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.Post_area .options .list li:hover{
  background: #f0f1f4;
}
.Post_area .options .list li img{
  width: 23px;
}
.Post_area form button{
  height: 53px;
  color: #daa520;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #023859;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
.Post_area form textarea:valid ~ button{
  color: #f1f1e6;
  cursor: pointer;
  background: #023859;
}
.Post_area form textarea:valid ~ button:hover{
  background: #daa520;
}
.Post_area .container .audience{
  opacity: 0;
  transition: opacity 0.12s ease;
}
.Post_area .container.active .audience{
  opacity: 1;
}
.Post_area .audience header{
  padding: 17px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.Post_area .audience header .arrow-back{
  position: absolute;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  color: #747474;
  border-radius: 50%;
  background: #E4E6EB;
}
.Post_area .audience header p{
  font-size: 22px;
  font-weight: 600;
}
.Post_area .audience .content{
  margin: 20px 25px 0;
}
.Post_area.audience .content p{
  font-size: 17px;
  font-weight: 500;
}
.Post_area .audience .content span{
  font-size: 14px;
  color: #65676B;
}
.Post_area .audience .list{
  margin: 15px 16px 20px;
  list-style: none;
}
.Post_area .audience .list li{
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}
.Post_area .list li.active,
.audience .list li.active:hover{
  background: #E5F1FF;
}
.Post_area.audience .list li:hover{
  background: #f0f1f4;
}
.Post_area .audience .list li .column .icon{
  height: 50px;
  width: 50px;
  color: #333;
  font-size: 23px;
  border-radius: 50%;
  background: #E4E6EB;
}
.Post_area .audience .list li.active .column .icon{
  background: #cce4ff;
}
.Post_area .audience .list li .column .details{
  margin-left: 15px;
}
.Post_area .list li .column .details p{
  font-weight: 500;
}
.Post_area .list li .column .details span{
  font-size: 14px;
  color: #65676B;
}
.Post_area .list li .radio{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #707070;
}
.Post_area .list li.active .radio{
  border: 2px solid #4599FF;
}
.Post_area .list li .radio::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
}
.Post_area .list li.active .radio::before{
  background: #4599FF;
}
select {
	color: #daa520;
	border: 1px solid #daa520;
	height: 45px;
	width: 100%;
	background-color:#fff;
	font-size: 16px;
	margin-top:10px;
	font-weight: bold;
	text-align: center;
	border-radius:20px;
}